@import 'tailwindcss';
@import '@heroui/styles';

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(55.28% 0.2041 25.32);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0 25.32);
  --border: oklch(90% 0 25.32);
  --danger: oklch(65.32% 0.2328 358.32);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 25.32);
  --default-foreground: oklch(21.03% 0.0059 25.32);
  --field-background: oklch(100% 0 25.32);
  --field-foreground: oklch(21.03% 0 25.32);
  --field-placeholder: oklch(55.17% 0 25.32);
  --focus: oklch(55.28% 0.2041 25.32);
  --foreground: oklch(21.03% 0 25.32);
  --muted: oklch(55.17% 0 25.32);
  --overlay: oklch(100% 0 25.32);
  --overlay-foreground: oklch(21.03% 0 25.32);
  --scrollbar: oklch(87.1% 0 25.32);
  --segment: oklch(100% 0 25.32);
  --segment-foreground: oklch(21.03% 0 25.32);
  --separator: oklch(92% 0 25.32);
  --success: oklch(73.29% 0.1935 123.39);
  --success-foreground: oklch(21.03% 0.0059 123.39);
  --surface: oklch(100% 0 25.32);
  --surface-foreground: oklch(21.03% 0 25.32);
  --surface-secondary: oklch(95.24% 0 25.32);
  --surface-secondary-foreground: oklch(21.03% 0 25.32);
  --surface-tertiary: oklch(93.73% 0 25.32);
  --surface-tertiary-foreground: oklch(21.03% 0 25.32);
  --warning: oklch(78.19% 0.1585 44.91);
  --warning-foreground: oklch(21.03% 0.0059 44.91);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Public Sans font in your app */
  --font-sans: var(--font-public-sans);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(55.28% 0.2041 25.32);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0 25.32);
  --border: oklch(28% 0 25.32);
  --danger: oklch(59.4% 0.1967 357.21);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0 25.32);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 25.32);
  --field-foreground: oklch(99.11% 0 25.32);
  --field-placeholder: oklch(70.5% 0 25.32);
  --focus: oklch(55.28% 0.2041 25.32);
  --foreground: oklch(99.11% 0 25.32);
  --muted: oklch(70.5% 0 25.32);
  --overlay: oklch(21.03% 0 25.32);
  --overlay-foreground: oklch(99.11% 0 25.32);
  --scrollbar: oklch(70.5% 0 25.32);
  --segment: oklch(39.64% 0 25.32);
  --segment-foreground: oklch(99.11% 0 25.32);
  --separator: oklch(25% 0 25.32);
  --success: oklch(73.29% 0.1935 123.39);
  --success-foreground: oklch(21.03% 0.0059 123.39);
  --surface: oklch(21.03% 0 25.32);
  --surface-foreground: oklch(99.11% 0 25.32);
  --surface-secondary: oklch(25.7% 0 25.32);
  --surface-secondary-foreground: oklch(99.11% 0 25.32);
  --surface-tertiary: oklch(27.21% 0 25.32);
  --surface-tertiary-foreground: oklch(99.11% 0 25.32);
  --warning: oklch(82.03% 0.1388 48.92);
  --warning-foreground: oklch(21.03% 0.0059 48.92);
}
